<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    {{> header}}
</head>

<body>


    {{{body}}} <!-- This is where child views are injected -->
    {{> footer}} <!-- This is a partial -->

</body>

</html>