<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    {{> header}}
    {{{body}}} <!-- This is where child views are injected -->
    {{> footer}} <!-- This is a partial -->

</body>

</html>